extends layout

block content
  h1 Set New Password
  if error
    p.error #{error}
  form(method='POST', action='/new-password')
    label(for='newPassword') New Password
    input(type='password', name='newPassword', required)
    button(type='submit') Set Password
