extends layout

block content
  h1 Welcome to My Real Estate Website

  section.about
    h2 About Me
    p // Add details about your friend here.

  section.company
    h2 About the Company
    p // Add company information here.

  section.photos
    h2 Photo Gallery
    //- Add scrollable photos here.
