doctype html
html
  head
    title Real Estate Website
    link(rel='stylesheet', href='/styles.css')
  body
    // Navbar section
    header.banner
      nav.navbar
        ul.navbar-list
          li.navbar-item
            a(href='/properties') Properties
          li.navbar-item
            a(href='/') Jachary Joseph
          li.navbar-item.dropdown
            a(href='#') Contact
            ul.dropdown-content
              li
                a(href='/request-appraisal') Request Appraisal
              li
                a(href='/buyer-specifications') Buyer Specs
              li
                a(href='/contact') Contact Him
    block content
    include partials/footer
